.container{
    display: flex;
    /* align-content: flex-start */
}

.box{
    flex: auto;
    margin:auto;
    height: 100px;
    width:100px;
    border: 1px solid black;
    text-align: center;
}

.box.changeColour{
    background-color: hsl(0, 80%, 24%);
}